---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js"{% if site.site_theme == "dark" %} data-theme="dark"{% endif %}>
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <link rel="preconnect" href="https://cdnjs.cloudflare.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lxgw-wenkai-webfont/1.7.0/style.css">
    {% if page.url == '/' or page.url == '/index.html' %}
      <script src="{{ base_path }}/assets/js/language.js"></script>
    {% endif %}
  </head>

  <body class="home-page">
    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    {% include scripts.html %}
  </body>
</html>
